
<div id= "show" class= "container">
    <h1> <%= @pet.pet_name %> </h1>
</div>
<div id="line" class="container">
</div>
<br>
<br>
<div class="container" >
    <div class= "petimage">
    <div class = "resize">
    <%= image_tag @pet.image.url, id: 'image_id' %>
    </div>
 </div>
    
    <div class= "petinfo">
    <p> <strong>Breed:</strong> <%= @pet.breed%> <br> <strong>Gender:</strong> <%= @pet.gender %><br> <strong>Age:</strong> <%= @pet.age %> years<br> 
    <strong>Weight:</strong> <%= @pet.weight %>lbs </p> 
        <p> <strong>Personality: </strong> <%= @pet.personality %> </p>
        <p> <strong>Contact and location information: </strong> <%= @pet.info %> </p>
        </div>
    <div>
<%= link_to 'Edit', edit_pet_path(@pet) if @pet.user == current_user %> 
&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "Delete", pet_path(@pet), method: :delete, data: { confirm: "Are you sure you want to delete this post?"} if @pet.user == current_user%>
&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "Back to the list!", pets_path %>
</div>
<%= form_for [@pet, @comment] do |f| %>
 <div id="comments"class="field">
    <%= f.label :comments %>
    <%= f.text_field :remark %>
    </div>
      <div id="commentbtn" class="actions"><%= f.submit %></div>
      
<% end %>
<div class="comments">
<ul>
    <% @pet.comments.each do |comment| %>
        <li>
            <strong><%= comment.user.first_name %></strong>: <%= comment.remark %> - <%= comment.created_at.strftime('%I:%M%P, %m/%d/%y') %>
            <%= link_to 'Delete', comment_path(comment), method: :delete if comment.user == current_user %>
        </li>
    <% end %>

</ul>
</div>

    </div>
</div>
