<h1> <%= @pet.pet_name %> </h1>
<div class= "image">
<%= image_tag @pet.image.url %>
</div>
<p> Breed: <%= @pet.breed%> <br> Gender: <%= @pet.gender %><br> Age:<%= @pet.age %>years<br> 
Weight: <%= @pet.weight %>lbs </p> 
<p> personality:<%= @pet.personality %> </p>
<p> contact and location information: <%= @pet.info %> </p>
<div>

<%= link_to "Delete", pet_path(@pet), method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "Back to the list!", pets_path %>
</div>
